@font-face {
    font-family: GTPresLight;
    src: url('fonts/gt-pressura-mono-light.ttf');
}
@font-face {
    font-family: GTPresBold;
    src: url('fonts/gt-pressura-mono-bold.ttf');
}

body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	/* das soll der body background für die login seite sein!

	background-image: url('images/background-img.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom center;
	background-size: cover;*/
}
.header{
	height: 60px;
	background-color: #fff;
	position: absolute;
	top: 0px;
	width: 100%;
}
.menu{
	height: 60px;
	background-color: #a6bd39;
	position: absolute;
	top: 60px;
	width: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.menu img{
	width: 40px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.content{
	box-sizing: border-box;
	padding-top: 120px;
	background-color: #ebebeb;
	height: 100%;
	width: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.help_whom{
	text-align: center;
	font-family: GTPresLight, sans-serif;
}
.element{
	font-size: 40px;
	color: #fff;
	text-align: center;
	font-family: GTPresBold, sans-serif;
}
.slick-slide{
	width: 180px;
}
.slick-current{
	width: 220px;

}
.caro{
	max-height: 60%;
}