@font-face {
    font-family: GTPresLight;
    src: url('fonts/gt-pressura-mono-light.ttf');
}
@font-face {
    font-family: GTPresBold;
    src: url('fonts/gt-pressura-mono-bold.ttf');
}

body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	/* das soll der body background für die login seite sein!

	background-image: url('images/background-img.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom center;
	background-size: cover;*/
}
.header{
	height: 60px;
	background-color: #fff;
	position: absolute;
	top: 0px;
	width: 100%;
}
.header img{
	width: 40px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
.header p{
	font-family: GTPresLight, sans-serif;
}
.menu{
	height: 60px;
	background-color: #a6bd39;
	position: absolute;
	top: 60px;
	width: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.menu img{
	width: 40px;
}
.menu .aimg{
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.menu a{
	display: flex;
	display: -webkit-flex;
}
.task_content{
	box-sizing: border-box;
	padding-top: 120px;
	background-color: #ebebeb;
	width: 100%;
}
.task:nth-child(even){
	background-color: #fff;
}
.task:nth-child(odd){
	background-color: #ebebeb;
}
.task{
	height: 80px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.task-drop{
	height: 60px;
}
.task-text{
	font-size: 0.8em;
	text-align: center;
	font-family: GTPresLight, sans-serif;

}
.task-percentage{
	font-size: 40px;
	font-family: GTPresBold, sans-serif;
	color: #00739a;
	margin-right: 10px;
	margin-left: 10px;
}
